parameters:
    level: 5

    paths:
        - public/logic/Categories
        - public/logic/ExtraServices
        - public/logic/ServiceRights
        - public/logic/Customers
        - public/logic/Storages

    scanFiles:
        - public/inc/functions.php
        - public/logic/global_arrays.php
        - public/logic/mini_language_switcher.php