:root {
    --main-bg-dark-blue: #013471;
    --main-bg-beige: rgb(221, 216, 212);
    --main-bg-pop-up: rgba(0, 0, 0, 0.512);
    --main-bg-color: #f0f0f0;
    --main-bg-blue: rgb(4, 144, 244);
    --frm-bg-transparent-grey: rgba(255, 255, 255, 0.35);
    --frm-border-semi-transparent: rgba(255, 255, 255, 0.239);
    --main-box-shadow: rgba(0, 0, 0, 0.286);
    --clr-border: #999;
    --clr-white: #fff;
    --clr-neutral: #666; 
    --cancel-red: rgb(239, 0, 0);
    --agree-blue: rgb(1, 115, 196);
    --agree-green: rgb(0, 151, 0);
    --warning-orange: rgb(236, 103, 38);
    --main-text-color: #333;
}