.bg_popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.668);
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
}
.bg_container {
    /* width: 1050px;
    height: 600px; */
    background-color: #666;
    border-radius: 4px;
    /* margin: 5vh auto; */
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
}

#profileDropdown {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-left: -105px;
	padding: 0 10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	position: absolute;
	top: 44px;
}

#profileDropdown ul {
	width: 150px;
	padding: 0;
}

#profileDropdown ul li {
	padding: 10px 0;
	text-align: left;
}

#profileDropdown ul li a {
	color: #999;
}

#profileDropdown ul li :hover {
	color: #666;
}

/* form-modal */
.formular_front {
    width: 450px;
    margin: 80px auto;
    padding: 60px 0;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 4px;
    font-weight: 200;
    display: none;
}
.text_input_form1 {
    width: 90%;
    margin: 5px 0;
    padding: 15px 15px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid rgb(84, 4, 231);
    
    -moz-appearance:inherit; 
    -o-appearance:inherit;
    -ms-appearance:inherit;
    appearance:inherit;
    -webkit-appearance:inherit;
}
.button_form1 {
    width: 90%;
    height: 60px;
    background: linear-gradient(to right, rgb(8, 146, 8), rgb(133, 197, 133));
    color: white;
    font-size: 14px;
    margin: 10px auto;
    padding: 20px 0;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    cursor: pointer;
}
/* end to form-modal */

.formular_songs_list {
    width: 350px;
    height: 458px;
    margin: 80px auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 4px;
    display: none;
}

.list {
    width: 200px;
    height: 250px;
    /* background-color: indigo; */
    margin: 5px;
    float: left;
    font-size: 12px;
    color: #999;
}
.list-cover {
    width: 198px;
    height: 198px;
    background-color: orange;
    border: 1px solid #666;
	position: relative;
}

.list-cover img {
	width: 100%;
}

.list-cover:hover .list-options {
    display: block;
}

.list-options {
	width: 100%;
	padding: 0;
	position: absolute;
	bottom: 0;
	color: #fff;
	display: none;
}

.list-options ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-options ul li {
	width: 16%;
	float: right;
	margin: 0 1px;
	padding: 10px 2%;
	text-align: center;
}

.list-options ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
}

.list-options ul li :hover {
	color: #000;
}


.playlist-options {
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

	width: 150px;
	height: 150px;
	background-color: darkorchid;
	border-radius: 4px;
	position: absolute;
	margin: 10px 0 0 -112px;
	display: none;
	z-index: 4;
}

/* .playlist-options ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.playlist-options ul li {
    width: 100px;
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.playlist-options ul li:hover {
    background-color: #f2f2f2;
} */

.list-info {
    padding: 5px 0 0;
}

.list-name {
    font-size: 16px;
    margin-bottom: 4px;
    color: #666;
}


.formular_remove_song {
	width: 330px;
    height: 150px;
    margin: 80px auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 4px;
    display: none;
}

.formular_remove_song p {
	color: #666;
	font-size: 12px;
}

.actions-btn {
    color: #999;
    font-size: 10px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.song-actions {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    margin: 3px 0 0 -50px;
    display: none;
    z-index: 4;
}
.song-actions ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.song-actions ul li {
    width: 100px;
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.song-actions ul li:hover {
    background-color: #f2f2f2;
}

.bg-overlayer {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.create-list-holder {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.button-add-playlist {
	width: 95%;
	padding: 10px;
	background-color: rgb(0, 172, 0);
	color: #fff;
	border: 0;
	border-radius: 4px;
}

.confirm-btn {
	width: 45%;
	padding: 10px;
	background-color: rgb(0, 172, 0);
	color: #fff;
	border: 0;
	border-radius: 4px;
}

.cancel-btn {
	width: 45%;
	padding: 10px;
	background-color: #999;
	color: #fff;
	border: 0;
	border-radius: 4px;
}

.create-list-holder input {
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 8px 0 10px;
	padding: 9px 0;
	text-align: center;
}

.button-add-create {
	padding: 10px;
	background-color: rgb(0, 172, 0);
	color: #fff;
	border: 0;
	border-radius: 4px;
}

.frame-central {
	text-align: center;
	padding-bottom: 10px;
}