.floating-logo {
    position: fixed;
    top: 30px; /* Retirado del top */
    left: 8%;
    transform: translateX(-50%); /* Para centrar horizontalmente */
    width: 120px;
    height: 120px;
    z-index: 100;
}
.floating-logo img {
    width: 100%;
}

.color-change {
    filter: brightness(0) saturate(105%) invert(11%) sepia(87%) saturate(6795%) hue-rotate(195deg) brightness(82%) contrast(105%);
    transition: all 0.1s ease;
}

.floating-header {
    position: fixed;
    top: 40px; /* Retirado del top */
    left: 50%;
    transform: translateX(-50%); /* Para centrar horizontalmente */
    width: 500px;
    height: 65px;
    background-color: transparent;
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 70px;
    z-index: 100;
}

.floating-header ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.floating-header ul li {
    flex: 1;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
}

.floating-header ul li a {
    color: var(--clr-white);
    text-decoration: none;
}

.floating-header ul li:hover, .floating-header ul li a:hover {
    color: var(--clr-border);
    cursor: pointer;
}

.floating-header.scrolled-out {
  background-color: var(--clr-white);
  color: var(--main-bg-dark-blue);
  box-shadow: 0 4px 6px -4px var(--main-box-shadow);
  transition: all 0.5s ease-in-out;
}

.floating-header.scrolled-out ul li a {
    color: var(--main-bg-dark-blue);
    transition: all 0.5s ease-in-out;
}