.personal-data {
    width: 99%;
    /* height: 150px; */
    padding: 5px 1%;
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.box-title {
    position: absolute;
    top: 0;
}

.info-box {
    width: 280px;
    height: 230px;
    margin: 5px 10px;
    padding: 10px;
}

.small-box {
    width: 180px;
    height: 230px;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px;
    color: #666;
    background-color: var(--main-bg-beige); /* aqui */
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.small-box h1, h2, h3 {
    font-weight: lighter;
}

.members-table {
    height: 380px;
    padding-top: 5px;
    border-top: 1px solid #CCC;
    overflow: auto;
}

/* Estilos del scroll (WebKit) */
.members-table::-webkit-scrollbar {
	width: 15px;
}

.members-table::-webkit-scrollbar-track {
	background: #e1e1e1; 
	border-radius: 10px;
}

.members-table::-webkit-scrollbar-thumb {
	background-color: #d8cac1; 
	border-radius: 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.529);
    transition: all 1.0s ease;
}

.members-table::-webkit-scrollbar-thumb:hover {
	background-color: #022e63;
    transition: all 1.0s ease;
}


.members-card {
    width: 253px;
    height: 160px;
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 10px;
    font-size: 12px;
    background-color: #f0f0f0;
    float: left;
    position: relative;
}

.members-card:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.286);
}

.mini-banner {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: var(--main-bg-beige);
}

.mini-profile {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    position: relative;
}

.co-worker-position {
    width: 170px;
    color: var(--main-bg-beige);
    position: absolute;
    top: 58px;
    right: 12px;
}

.mini-profile img {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.card-info {
    margin: 40px 0 0 0;
}

.card-menu {
    width: 44px;
    height: 44px;
    /* padding: 5px 7px 6px; */
    background-color: var(--main-bg-beige);
    color: #FFF;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.0s ease;
}

.card-menu:hover {
    background-color: var(--main-bg-dark-blue);
    box-shadow: 0 0 4px 3px rgb(47 48 63 / 19%);
    transition: all 1.0s ease;
}

.card-menu img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%);
    opacity: 0.9;
    transition: filter 0.3s ease;
}



.cardDropdown {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	position: absolute;
	top: 25px;
    right: 10px;
	z-index: 2;
}

.cardDropdown ul {
	width: 100px;
	padding: 0;
    list-style: none;
    /* background-color: red; */
}

.cardDropdown ul li {
	padding: 10px 0;
	text-align: left;
    
}

.cardDropdown ul li {
	color: #999;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardDropdown ul li:hover {
	color: #333;
}



.drop-area {
    width: 94%;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #FFF;
    font-size: 0.8em;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 180px 1% 20px;
    position: relative;
}

.image-preview {
    max-width: 150px;
    max-height: 150px;
    display: none;
    margin: 0 25%;
    border: 1px solid #FFF;
    position: absolute;
    top: 25px;
}