.notifications-container-height {
    height: 89.7vh;
}

.notifications-sidebar {
    width: 25%;
    height: 82.5vh;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.notifications-details {
    width: 75%;
    height: 82.5vh;
    overflow: auto;
}

.request-position {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-pro-requested {
    width: 40%;
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}