.notifications-container-height {
    height: 89.7vh;
}

.notifications-sidebar {
    width: 25%;
    height: 82.5vh;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.notifications-details {
    width: 75%;
    height: 82.5vh;
    overflow: auto;
}

.notification-message-info {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    color: var(--clr-neutral-dark);
}

.notification-detail-card {
    width: 500px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
}

.notification-product-pic {
	width: 187px;
	height: 187px;
	background-color: var(--main-bg-beige);
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-product-pic img {
	width: 120%;
	height: auto;
	object-fit: cover;
}

.notification-product-desc {
    flex: 1;
    color: var(--clr-neutral-dark);
    padding: 10px;
    font-size: 10px;
}

.request-position {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-pro-requested {
    width: 40%;
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}


.send-message {
	width: 30px;
	height: 30px;
	cursor: pointer;
	opacity: 0.5;
}

.send-message:hover {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.message-user-profile-pic {
	background-color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-left: 10px;
}

.message-user-profile-pic img {
	background-color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.message-users-list {
	height: 400px;
	overflow-y: auto;
	margin-block: 10px;
	padding-block: 5px;
	border-block: 1px solid var(--main-bg-beige);
}

.message-users-list tr td {
	padding-block: 0px;
}

.dm-user-row:hover
{
	background-color: var(--frm-bg-transparent-grey);
	transition: all 0.7s ease;
}

.dm-user-row.selected-dm-user {
	background-color: var(--frm-bg-transparent-grey);
	transition: all 0.7s ease;
}

.message-content-box {
    height: 571px;
    margin-block: 10px;
    padding: 10px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}




.dm-message {
	padding: 8px 12px;
	margin: 6px;
	border-radius: 8px;
	max-width: 70%;
}

.dm-me {
	background: #DCF8C6;
	margin-left: auto;
}

.pending {
	opacity: 0.6;
}

.error {
	background: #ffd6d6;
	color: #900;
}