.product-table {
    width: 100%;
    height: 710px;
}

.product-sidebar {
    width: 25%;
    height: 710px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.product-list {
    width: 75%;
    height: 710px;
    overflow: auto;
}

.product-card {
    width: 23%;
    height: 340px;
    background-color: var(--main-bg-color);
    margin: 0 1% 15px;
    font-size: 12px;
    border-radius: 5px;
    float: left;
}

.product-card:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.361);
    transition: all 500ms ease;
}

.product-pic {
	width: 100%;
	height: 150px;
	background-color: var(--main-bg-beige);
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-pic img {
	width: 120%;
	height: auto;
	object-fit: cover;
}

.product-desc {
    width: 100%;
    height: 190px;
    border-radius: 0 0 5px 5px;
    position: relative;
}

.all-mark-list tr:hover,
.all-model-list tr:hover,
.all-submodel-list tr:hover {
    background-color: var(--frm-bg-transparent-grey);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.cat-all-list {
    height: 400px;
    overflow: auto;
}