.box-title {
    position: absolute;
    top: 0;
}

.info-box {
    width: 280px;
    height: 230px;
    margin: 5px 10px;
    padding: 10px;
}

.small-box {
    width: 180px;
    height: 230px;
    border-radius: 8px;
    margin: 5px 10px;
    padding: 10px;
    color: #666;
    background-color: var(--main-bg-color);
    border: 1px solid var(--clr-light-border);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.small-box h1, h2, h3 {
    font-weight: lighter;
}

.members-table {
    height: 380px;
    padding-top: 5px;
    border-top: 1px solid #CCC;
    overflow: auto;
}

.members-card {
    width: 253px;
    height: 160px;
    border-radius: 6px;
    margin: 0 8px 10px;
    padding: 10px;
    font-size: 12px;
    background-color: var(--main-bg-color);
    /* border: 1px solid var(--clr-light-border); */
    box-shadow: 0px 2px 6px var(--main-box-light-shadow);
    float: left;
    position: relative;
}

.members-card:hover {
    box-shadow: 0px 2px 6px var(--main-box-shadow);
}

.mini-banner {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    border-radius: 6px;
    background-color: var(--main-bg-beige);
}

.mini-profile {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    position: relative;
}

.co-worker-position {
    width: 180px;
    color: var(--main-bg-beige);
    position: absolute;
    top: 58px;
    right: 5px;
}

.mini-profile img {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.card-info {
    margin: 40px 0 0 0;
}



.cardDropdown {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0 5px;
	box-shadow: 0px 2px 5px var(--main-box-shadow);
	position: absolute;
	top: 25px;
    right: 10px;
	z-index: 2;
}

.cardDropdown ul {
	width: 100px;
	padding: 0;
    list-style: none;
    /* background-color: red; */
}

.cardDropdown ul li {
	padding: 10px 0;
	text-align: left;
    
}

.cardDropdown ul li {
	color: #999;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardDropdown ul li:hover {
	color: #333;
}



.drop-area {
    width: 94%;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #FFF;
    font-size: 0.8em;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 180px 1% 20px;
    position: relative;
}

.image-preview {
    max-width: 150px;
    max-height: 150px;
    margin: 0 25%;
    border: 1px solid #FFF;
    position: absolute;
    top: 25px;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pack-container {
    width: 98%;
    height: 520px;
    border-block: 1px solid var(--frm-border-semi-transparent);
    padding: 5px 1% 0;
    overflow: auto;
}

.estimated {
    font-size: 14px;
    padding: 10px 0;
}

/* ################## Packages styles ################## */
.packages {
    width: 152px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid var(--frm-border-semi-transparent);
    margin: 0 8px 10px;
    background-color: var(--frm-bg-transparent-grey);
    box-shadow: 0px 2px 5px var(--main-box-shadow);
    float: left;
    transition: all 0.3s ease;
	cursor: pointer;
}

.packages:hover {
    box-shadow: 0px 2px 5px var(--main-bg-color);
    color: var(--clr-white);
}

.pack-img img {
    width: 120px;
	height: 120px;
    object-fit: cover;
}

.pack-name {
    font-size: 14px;
    padding: 0 0 5px;
}

.pack-price {
    font-size: 18px;
    padding: 6px 0 0;
}

.pack-details ul {
    margin: 0;
    padding: 0;
}

.pack-details ul li {
    padding: 3px 0;
    list-style: none;
}

.selected-package {
	background-color: var(--main-bg-blue);
	color: white;
	border-color: var(--frm-border-semi-transparent);
}

.packages .opcion-radio input[type="radio"] {
	display: none !important;
}