.report-container-height {
    height: 81.5vh;
}

.report-list {
    width: 74%;
    height: 74vh;
    margin-right: 1%;
    overflow: auto;
    /* background-color: red; */
}

.report-sidebar {
    width: 25%;
    height: 74vh;
    background-color: var(--clr-white);
    border: 1px solid var(--border-light);
    box-shadow: 0px 20px 30px var(--shadow-color);
    border-radius: 15px;
}
.report-sidebar-box {
    margin-bottom: 10px;
}

.report-chart {
    width: 100%;
    height: 300px;
    /* background-color: blue; */
}

.report-row {
	width: 98%;
	height: 20px;
	background-color: var(--clr-white);
    border: 1px solid var(--border-light);
    box-shadow: 0px 20px 30px var(--shadow-color);
	margin: 0 auto 10px;
	padding: 10px 0;
	font-size: 12px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.report-row:hover {
	background-color: var(--text-muted);
	color: var(--clr-white);
	transition: all 1.0s ease;
}

.reports-menu {
    width: 38px;
    height: 38px;
	border-radius: 5px;
	cursor: pointer;
}

.reports-menu img {
    width: 38px;
	filter: brightness(0) saturate(0) invert(0);
    opacity: 1;
    transition: filter 0.3s ease;
}

.report-row:hover .reports-menu img {
    filter: brightness(0) saturate(100%) invert(100%);
    transition: all 1.0s ease;
}

.report-row:hover .mini-title {
	color: #fff;
	transition: all 2.0s ease !important;
}