.settings-container-height {
    height: 89.7vh;
}

.settings-sidebar {
    width: 20%;
    height: 82.5vh;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.settings-menu {
    width: 100%;
    margin-top: 10px;
}

.settings-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.settings-menu ul li {
	padding: 20px 15px;
	text-align: left;
    /* background-color: rgba(255, 0, 0, 0.256); */
    transition: background-color 0.3s ease;
}

.settings-menu ul li:hover {
    background-color: var(--main-bg-dark-blue);
	color: white;
    border-radius: 6px;
}

.settings-menu li.active {
  background-color: var(--main-bg-dark-blue); /* Azul o el color que prefieras */
  color: white;
  border-radius: 6px;
}




.settings-options tr {
	cursor: pointer;
}

.settings-options tr td {
	border-bottom: 1px solid var(--main-bg-beige);
	padding: 5px 0;
}

.settings-options tr td p {
	font-weight: 200;
	margin: 5px 0;
}

.settings-options tr td p strong {
	font-weight: 600;
}

.settings-options tr:hover {
	background-color: var(--clr-white);
	/* color: var(--clr-white); */
	transition: background-color 0.3s ease;
}

.settings-content {
    width: 80%;
    height: 82.5vh;
    display: flex;
    overflow: auto;
}

.general-details
{
    width: 70%;
    height: 82.5vh;
    overflow: auto;
}


.co-worker-details
{
    width: 70%;
    height: 82.5vh;
    overflow: auto;
}

.co-worker-table tr {
	cursor: pointer;
}

.co-worker-table tr td {
	border-bottom: 1px solid var(--main-bg-beige);
	padding: 5px 0;
}

.co-worker-table tr td p {
	font-weight: 200;
	margin: 5px 0;
}

.co-worker-table tr td p strong {
	font-weight: 600;
}

.co-worker-table tr:hover {
	background-color: var(--main-bg-color);
	transition: background-color 0.3s ease;
}

/* para la logica de seleccionar usuario con clic en cualquierparte del div */
.company-row input[type="radio"],
.co-worker-row input[type="radio"] {
	display: none;
}

.company-row.selected-company,
.co-worker-row.selected-co-worker {
	background-color: var(--main-bg-color);
	transition: background-color 0.2s ease;
}
/* hasta aqui */

.access-rights-form {
    width: 80%;
    height: 80vh;
    margin: 10px auto 0;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 .15rem 0.37rem 0 rgba(58,59,69,.15)!important;
}

.access-rights-buttons {
    width: 150px;
    padding: 10px 50px;
    border-radius: 30px;
    box-shadow: 0 .15rem 0.67rem 0 rgba(58,59,69,.15)!important;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}