.settings-container-height {
    height: 89.7vh;
}

.settings-sidebar {
    width: 20%;
    height: 82.5vh;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.settings-menu {
    width: 100%;
    margin-top: 10px;
}

.settings-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.settings-menu ul li {
	padding: 20px 15px;
	text-align: left;
    /* background-color: rgba(255, 0, 0, 0.256); */
    transition: background-color 0.3s ease;
}

.settings-menu ul li:hover {
    background-color: var(--main-bg-dark-blue);
	color: white;
    border-radius: 6px;
}

.settings-menu li.active {
  background-color: var(--main-bg-dark-blue); /* Azul o el color que prefieras */
  color: white;
  border-radius: 6px;
}




.settings-options tr {
	cursor: pointer;
}

.settings-options tr td {
	border-bottom: 1px solid var(--main-bg-beige);
	padding: 5px 0;
}

.settings-options tr td p {
	font-weight: 200;
	margin: 5px 0;
}

.settings-options tr td p strong {
	font-weight: 600;
}

.settings-options tr:hover {
	background-color: var(--clr-white);
	/* color: var(--clr-white); */
	transition: background-color 0.3s ease;
}

.options-details {
    width: 75%;
    height: 82.5vh;
    overflow: auto;
}