.storage-details {
    width: 50%;
	height: 82.5vh;
	display: flex;
	flex-direction: column;
}

.storage-header {
	width: 95%;
	height: 60px;
	background-color: var(--clr-white);
	border: 1px solid var(--border-light);
	box-shadow: 0px 20px 30px var(--shadow-color);
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px 1%;
	font-size: 11px;
}

.storage-list {
	flex: 1;
	margin: 10px 0.5% 0;
	padding: 0 0.5%;
	overflow: auto;
}

/* .storage-menu {
    width: 38px;
    height: 38px;
	border-radius: 5px;
	cursor: pointer;
}

.storage-menu img {
    width: 38px;
	filter: brightness(0) saturate(0) invert(0);
    opacity: 1;
    transition: filter 0.3s ease;
}

.storage-menu img:hover {
	filter: brightness(0) saturate(0) invert(55%) !important;
	transition: all 0.6s ease;
} */