@import url("color-palette.css");
@import url("header.css");
@import url("floating-header.css");
@import url("buttons.css");
@import url("message.css");
@import url("profile.css");
@import url("products.css");
@import url("customers.css");
@import url("sales.css");
@import url("payments.css");
@import url("forms.css");
@import url("footer.css");

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    font-size: 12px;
}

.wrapper-dark-blue {
    background-color: var(--main-bg-dark-blue);
}

.blue-curve {
    height: 250px;
    background-color: var(--main-bg-dark-blue);
    border-bottom-right-radius: 100% 90%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-right,
.container-left {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-right p,
.container-left p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: var(--main-text-color);
}

.image-container {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.data-container {
    width: 98%;
    padding: 5px 1%;
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.positioning {
    position: relative;
    bottom: -150px;
}

.bg-popup {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-pop-up);
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 3;
}

.expanded {
    width: 1100px;
}

.list-icon img {
    width: 30px;
    height: 30px;
    margin: 5px 0;
    border-radius: 2px;
    object-fit: cover;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.disabled {
    background-color: #ccc;
}

.height-100 {
    height: 100vh;
}

.frame-central {
    text-align: center;
    padding-bottom: 10px;
}

.centralize-top {
    display: flex;
    justify-content: center;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
	justify-content: space-between;
	padding: 0; /* sin padding para que los extremos toquen el borde */
	gap: 0; /* sin gap para más control */  
}

.grayscale-img {
	filter: grayscale(75%);
}


.title-and-subtitle {
    text-align: center;
    margin: 50px 0;
}

.title-and-subtitle p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: var(--main-text-color);
}

.pricing-card {
    width: 300px;
    height: 550px;
    background-color: var(--clr-white);
    border-radius: 10px;
    margin: 0 10px;
    /* padding: 20px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.pricing-header {
    height: 250px;
    background-color: var(--main-bg-dark-blue);
    color: var(--clr-white);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.pricing-header-comp {
    width: 100%;
    height: 250px;
    background-color: red;
    clip-path: polygon(126% 29%, 100% 4%, 49% 15%);
    position: absolute;
    top: 206px;
}

.pricing-content {
    /* background-color: rgba(255, 0, 0, 0.298); */
    height: 180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pricing-header p {
    color: var(--clr-white);
    margin-bottom: 20px;
}

.pricing-content ul {
    padding: 0;
    margin: 0;
    width: 70%;
}
.pricing-content ul li {
    font-size: 13px;
    font-weight: 300;
    margin: 6px 0;
    color: var(--main-text-color);
    text-align: left;
}

.pricing-card:first-child {
	margin-left: 0;
}

.pricing-card:last-child {
	margin-right: 0;
}

/* .pricing-card h1 {
    color: var(--main-text-color);
    margin-bottom: 10px;
} */

