.system-sidebar {
    width: 20%;
    height: 82.5vh;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.system-menu {
    width: 100%;
    margin-top: 10px;
}

.system-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.system-menu ul li {
	padding: 20px 15px;
	text-align: left;
    /* background-color: rgba(255, 0, 0, 0.256); */
    transition: background-color 0.3s ease;
}

.system-menu ul li:hover {
    background-color: var(--main-bg-dark-blue);
	color: white;
    border-radius: 6px;
}

.system-menu li.active {
  background-color: var(--main-bg-dark-blue); /* Azul o el color que prefieras */
  color: white;
  border-radius: 6px;
}

.system-content {
    width: 80%;
    height: 82.5vh;
    display: flex;
    overflow: auto;
}

.section-header {
    height: 50px;
	padding: 0 1%;
    display: flex;
    justify-content: center;
}

/* #### service #### */
.overview-sidebar,
.rights-sidebar,
.service-sidebar
{
    width: 30%;
    height: 82.5vh;
    border-right: 1px solid var(--clr-border);
}
.rights-list,
.service-list
{
	width: 100%;
	height: 68.5vh;
	overflow-y: auto;
}

.user-table tr {
	cursor: pointer;
}

.user-table tr td {
	border-bottom: 1px solid var(--main-bg-beige);
	padding: 5px 0;
}

.user-table tr td p {
	font-weight: 200;
	margin: 5px 0;
}

.user-table tr td p strong {
	font-weight: 600;
}

.user-table tr:hover {
	background-color: var(--main-bg-color);
	transition: background-color 0.3s ease;
}

/* para la logica de seleccionar usuario con clic en cualquierparte del div */
.users-row input[type="radio"] {
	display: none;
}

.users-row.selected-user {
	background-color: var(--main-bg-color);
	transition: background-color 0.2s ease;
}
/* hasta aqui */

.rights-details,
.service-details
{
    width: 70%;
    height: 82.5vh;
    overflow: auto;
}

.sys-admin-table  {
	width: 98%;
	height: 20px;
	background-color: var(--main-bg-color);
	margin: 5px 1%;
	padding: 10px 0;
	font-size: 12px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.sys-admin-table:hover {
	background-color: var(--clr-neutral);
	color: var(--clr-white);
	transition: all 1.0s ease;
}

.sys-admin-menu {
    width: 38px;
    height: 38px;
	border-radius: 5px;
	cursor: pointer;
}

.sys-admin-menu img {
    width: 38px;
	filter: brightness(0) saturate(0) invert(0);
    opacity: 1;
    transition: filter 0.3s ease;
}

.sys-admin-table:hover .sys-admin-menu img {
    filter: brightness(0) saturate(100%) invert(100%);
    transition: all 1.0s ease;
}

.sys-admin-menu img:hover {
	filter: brightness(0) saturate(0) invert(55%) !important;
	transition: all 0.6s ease;
}

/* .sys-admin-row:hover .mini-title {
	color: #fff;
	transition: all 2.0s ease !important;
} */

/* #### overview #### */
.overview-list {
	width: 99%;
	height: 68.5vh;
	overflow-y: auto;
}